<div class="row">
    <h1>Estudios Realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem vitae magni laboriosam modi perferendis error id quaerat pariatur. Ipsum ad possimus beatae veniam deleniti ut qui molestiae, aliquam deserunt sequi!</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem vitae magni laboriosam modi perferendis error id quaerat pariatur. Ipsum ad possimus beatae veniam deleniti ut qui molestiae, aliquam deserunt sequi!</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem vitae magni laboriosam modi perferendis error id quaerat pariatur. Ipsum ad possimus beatae veniam deleniti ut qui molestiae, aliquam deserunt sequi!</p>
        </ul>
    </div>
</div>

