<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2022-02-08 at 21.51.18.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Jon Jonathan Arias</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi recusandae quaerat, commodi similique odit quae fuga optio vel nobis ex minima corporis aliquam ipsam. Iure, officia itaque. Quo, perferendis deleniti?</p>
        </span>
    </div>
</div>
